.Ball {
  color: skyblue;
  border: 1px solid grey;
  border-radius: 50%;
  padding: 1em;
  margin: 0.3em;
  font-size: 20px;
}

.Ball-open {
  background-color: white;
  color: skyblue;
}

.Ball-closed {
  background-color: skyblue;
  color: white;
}
