{% extends 'base.html' %}

{% block content %}
  <h1>{{ snack.name }} is a {{ snack.kind }}</h1>
  <a href="{{url_for('get_all_snacks')}}">Back to all snacks</a>
  <form action="{{url_for('edit_snack', snack_id=snack.id)}}?_method=PATCH" method="POST">
    Name: <input type="text" name="name">
    Kind: <input type="text" name="kind">
    <button type="submit">EDIT THIS SNACK</button>
  </form>
  <a href="{{url_for('delete_snack', snack_id=snack.id)}}?_method=DELETE">Delete this snack :(</a>

{% endblock %}