{% extends 'base.html' %}

{% block content %}

<div class="jumbotron">

    <h1 class="display-3">{{ message.content }}</h1>

    {% for tag in tags %}
    <p class="muted">{{ tag.name }}</p>
    {% endfor %}

  <a class="btn btn-primary btn-large" href="{{ url_for('get_messages', user_id=message.user_id) }}">All Messages</a>
  <a class="btn btn-warning btn-large" href="{{ url_for('edit_message', message_id=message.id) }}">Edit Message</a>
  <a class="btn btn-danger btn-large" href="{{ url_for('delete_message', message_id=message.id) }}?_method=DELETE">Delete Message</a>
</div>


{% endblock %}