<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Calculator</title>
</head>
<body>
  <form action="/calculate">
    <label for="num1">Number 1: </label>
    <input type="number" name="num1" id="num1">
    <label for="num2">Number 2: </label>
    <input type="number" name="num2" id="num2">
    <label for="operation">Operation: </label>
    <select name="operation" id="operation">
      <option value="add">Add</option>
      <option value="subtract">Subtract</option>
      <option value="multiply">Multiply</option>
      <option value="divide">Divide</option>
    </select>
    <button type="submit">Calculate!</button>
  </form>
</body>
</html>