{% extends 'base.html' %}

{% block content %}

<div class="random-pets-container">
    <div class="pet-card">
      <img src="{{ random.photo_url }}" alt="">
      <h3 class="pet-name">{{ random.name }}</h3>
      <h4 class="pet-location">{{ random.city }}, {{ random.state }}</h4>
      <p>{{ random.description }}</p>
    </div>
  </div>

<div class="pets-container">
  {% for pet in pets %}
  <div class="pet-card">
    <img src="{{ pet.photo_url }}" alt="">
    <a href="{{ url_for('show_or_edit_pet', pet_id=pet.id) }}"> <p class="pet-name">{{ pet.name }}</p> </a>
    {% if pet.available %}
      <span class="available-text">Available!</span>
    {% endif %}
  </div>
  {% endfor %}
</div>


{% endblock %}