{% extends 'base.html' %}

{% block content %}

<div class="jumbotron">
    <h1 class="display-3">{{ random.name }}</h1>
    <p class="lead">{{ random.city }}, {{ random.state }}</p>
    <img src="{{ random.photo_url }}" alt="">
    <hr class="my-4">
    <p>{{ random.description }}</p>
  </div>

<form class="mb-3" action="{{ url_for('add_pet') }}">
  <button type="button submit" class="btn btn-primary btn-lg btn-block">Add a new pet</button>
</form>

<div class="card-columns">
  {% for pet in pets %}
    <div class="card mb-3" style="width: 20rem;">
      <h3 class="card-header">{{ pet.name }}</h3>
        <img style="height: 200px; display: block;" src="{{ pet.photo_url }}" alt="Pet image">
        <div class="card-body">
          <p class="card-text">{{ pet.notes }}</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Species: {{ pet.species.title() }}</li>
          <li class="list-group-item">Age: {{ pet.age }}</li>
        </ul>
        <div class="card-body">
          <a href="{{ url_for('show_or_edit_pet', pet_id=pet.id) }}" class="card-link">Find out more!</a>
        </div>

        <div class="card-footer text-muted">
          {% if pet.available %}
            I'm Available!
          {% endif %}
        </div>


    </div>

  {% endfor %}

</div>

{% endblock %}